@model Readdit.Models.Forum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Forum</h4>
    <hr />
    <div class="card mb-3" style="max-width: 750px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Model.User.FullName</p>
                    <p class="card-text"><small class="text-muted">@Model.DateCreated</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @if (Model.UserId == @ViewBag.CurentUserId)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ForumId">Edit</a> |
            <a asp-action="Index">Back to Forums</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index">Back to Forums</a>
        </div>
    }
</div>
<br />
<h2>Posts</h2>
<div>
    <p>
        <a asp-controller="Posts" asp-action="Create">Create New</a>
    </p>
            @foreach (var item in Model.Posts)
            {
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Message</p>
                        <p class="card-text">@item.DateCreated</p>
                        <p class="card-text">@item.User.FullName</p>
                        @if (item.UserId == @ViewBag.CurentUserId)
                        {
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@item.PostId">Details</a>
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Posts" asp-action="Details" asp-route-id="@item.PostId">Details</a>       
                        }
                    </div>
                </div>
            }
</div>