@model Readdit.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h1>My Profile</h1>

<div style="text-align:center;">
    <div class="card" style="width: 25rem;">
        <img src="~/Images/@Model.imageUrl" class="card-img-top" alt="@Html.DisplayNameFor(model => model.imageUrl)">
        <div class="card-body">
            <h5 class="">@Html.DisplayNameFor(model => model.Description)</h5>
            <p class="card-text"> @Html.DisplayFor(model => model.Description)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayNameFor(model => model.FullName): @Html.DisplayFor(model => model.FullName)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)</li>
        </ul>
        @if (Model.Id == @ViewBag.CurentUserId)
        {
            <div class="card-body">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-controller="Books" asp-action="Index"> Books</a> |
                <a asp-controller="" asp-action="Index">Forum History</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <a asp-controller="" asp-action="Index"> Books</a> |
                <a asp-controller="" asp-action="Index">Forum History</a>
            </div>
        }
    </div>
</div>

