@model Readdit.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card w-75">
        <div class="card-body">
            <h4>Post Replies</h4>
            <hr />
            <h5 class="card-title">Replies to @Model.Title</h5>
            <p class="card-text">@Model.Message</p>
            <p class="card-text">@Model.DateCreated By: @Model.User.FullName</p>
            @if (Model.UserId == @ViewBag.CurentUserId)
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PostId">Edit</a>
                <a class="btn btn-primary" href="javascript:history.go(-1)">Back to Previous Posts</a>
                <a class="btn btn-primary" asp-controller="PostReplies" asp-action="Create" asp-route-postid="@Model.PostId">Post a Reply</a>
            }
            else
            {
                <a class="btn btn-primary" href="javascript:history.go(-1)">Back to Previous Posts</a>
                <a class="btn btn-primary" asp-controller="PostReplies" asp-action="Create" asp-route-postid="@Model.PostId">Post a Reply</a>
            }
        </div>
    </div>
    <br />
    <div>
        @*<p>
            <a class="btn btn-primary" asp-controller="PostReplies" asp-action="Create" asp-route-postid="@Model.PostId">Post a Reply</a>
        </p>*@
        @foreach (var item in Model.PostReplies)
        {
            <div class="card border-primary mb-3" style="max-width:500px; max-height:275px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Images/@item.User.imageUrl" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">@item.Message</p>
                            <p class="card-text">@item.DateCreated</p>
                            <p class="card-text">@item.User.FullName</p>
                            <p class="card-text"><small class="text-muted">@Model.DateCreated</small></p>
                            @if (item.UserId == @ViewBag.CurentUserId)
                            {
                                <a class="btn btn-primary" asp-controller="PostReplies" asp-action="Edit" asp-route-id="@item.PostReplyId">Edit</a>
                                <a class="btn btn-primary" asp-controller="PostReplies" asp-action="Delete" asp-route-id="@item.PostReplyId">Delete</a>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
